@model IEnumerable<VidlyPrototype.Models.Notifications>
@{
    ViewBag.Title = Resources.Controller_Notifications.notifications_title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="notifications-display" class="mb-4">
    <div class="container notifications-display-inner">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="display-4 mb-3 py-3 border-bottom">@Resources.Controller_Notifications.notifications_title</h4>
                        <div>
                            <div class="border-bottom py-2 mb-2">
                                <button class="btn btn-primary" id="mark-as-read" data-user-id="@User.Identity.Name">
                                    <i class="fas fa-check-double"></i> @Resources.Controller_Notifications.all_as_read
                                </button>
                            </div>
                            <ul class="list-group border-0">
                                @if (Model.Any())
                                {
                                    foreach (var message in Model)
                                    {
                                        var hasBeenRead = message.HasBeenRead.Value ? "" : "#ced4da";

                                        <li class="list-group-item border-bottom py-1" style="background: @hasBeenRead;">
                                            <div class="d-flex">
                                                <div class="align-content-start pr-2">
                                                    <i class="far fa-bell"></i>
                                                </div>
                                                <div class="align-content-end">
                                                    @message.Message
                                                    <h6 class="small text-success">
                                                       @Resources.Controller_Notifications.sent_on:  @message.DateReceived.ToString("d MMM yyyy 'at' h:mtt")
                                                    </h6>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                }
                                else
                                {
                                    <li>
                                        <p class="h5 text-info">
                                            <i class="fas fa-info-circle"></i> @Resources.Controller_Notifications.no_notifications
                                        </p>
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @*<script src="~/Scripts/NotificationsSender.js"></script>*@
    <script>
        $(document).ready(function () {

            $("#mark-as-read").on('click', function (e) {
                var button = $(this);
                e.preventDefault();

                $.ajax({
                    url: "/api/notifications?UserId=".concat(button.attr('data-user-id')),
                    method: "PUT",
                    success: function (data) {
                        console.log('success');
                        $(".list-group-item").css({ "background": "" });
                    },
                    error: function (x) {
                        console.log(x.responseText);
                    }

                });
            });
        });
    </script>
}

